<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组织机构维护</title>
    <link rel="stylesheet" href="../../static/plugins/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/plugins/ztree/css/metroStyle.css">
    <link rel="stylesheet" href="../../static/css/orgPreserve/orgPreserve.css">
    <script src="../../static/js/common/jquery-3.2.1.min.js"></script>
    <script src="../../static/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/plugins/ztree/js/jquery.ztree.core.min.js"></script>
    <!--表单验证-->
    <script src="../../static/plugins/validator/validator.min.js"></script>
    <script src="../../static/js/orgPreserve/orgPreserve.js"></script>

</head>
<body>
<div class="main clearfix">
    <p class="caption">组织机构维护 <i>Organization maintenance</i></p>
    <div class="framework">
        <div class="leftBar">
            <ul id="treeDemo" class="ztree leftBar"></ul>
        </div>
        <div class="navPart">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本信息</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">所属人员</a></li>
                <li></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="showForm ">
                        <button class="iconBtn edit"><i class="icon-19"></i>编辑</button>
                        <p class="title">机构简介</p>
                        <p class="content">北京市局(公司)	北京市局(公司)	北	北京烟草	行业直属单位北京市局(公司)	北京市局(公司)	北	北京烟草	行业直属单位北京市局(公司)	北京市局(公司)	北	北京烟草	行业直属单位北京市局(公司)	北京市局(公司)	北	北京烟草	行业直属单位</p>
                        <p class="inlineItem deep">
                            <span>单位（部门）名称：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>单位（部门）简称：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem">
                            <span>上级单位：</span>
                            <span>国家局</span>
                        </p>
                        <p class="inlineItem">
                            <span>单位（部门）性质：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>系统机构（部门）层次：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>机构（部门）级别：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem">
                            <span>单位（部门）类型：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem">
                            <span>所属区域代码：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>单位（部门）编码：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>组织机构代码：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem">
                            <span>批准成立时间：</span>
                            <span>2018-2-26</span>
                        </p>
                        <p class="inlineItem">
                            <span>批准成立机关：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>批准成立文号：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>行业类别：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem">
                            <span>顺序标识：</span>
                            <span>52878</span>
                        </p>
                        <p class="inlineItem">
                            <span>编制总数：</span>
                            <span>12546</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>邮编：</span>
                            <span>311418</span>
                        </p>
                        <p class="inlineItem deep">
                            <span>地址：</span>
                            <span>浙江省杭州市</span>
                        </p>
                        <p class="inlineItem">
                            <span>责任人：</span>
                            <span>总公司进修学院</span>
                        </p>
                        <p class="inlineItem">
                            <span></span>
                            <span></span>
                        </p>
                        <p class="inlineItem deep"></p>
                        <p class="inlineItem deep"></p>
                    </div>
                    <div class="editForm displayNone">
                        <form class="form-inline" data-toggle="validator" role="form">
                            <div class="form-group col-sm-6">
                                <label for="exampleInputName2">Name</label>
                                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail2">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">2</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>