<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>行业内人员信息</title>
    <link rel="stylesheet" href="../../static/plugins/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/common/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/personInfo/personInfo.css">
    <script src="../../static/js/common/jquery-3.2.1.min.js"></script>
    <script src="../../static/plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/js/common/jquery.dataTables.js"></script>
    <script src="../../static/js/common/dataTables.bootstrap.js"></script>
    <script src="../../static/js/personInfo/personInfo.js"></script>
</head>
<body>
<div class="main clearfix">
    <p class="caption" id="caption"></p>
    <div class="operate">
        <input type="button" value="新增" name="addPerson" class="btn">
        <input type="button" value="删除" name="addPerson" class="btn red">
        <input type="button" value="导入" name="addPerson" class="btn green">
        <i id="refresh" class="refresh icon-20"></i>
    </div>
    <table id="tbUserList" class="table tableList">
        <thead class="text-center ">
            <tr>
                <th width="2%">
                    <div class="checkBox checkBoxAll">
                        <input type="checkbox" id="checkAll" name="checkAll" class="check displayNone"  value="">
                        <label for="checkAll" class="icon-18"></label>
                    </div>
                </th>
                <th width="8%">全选</th>
                <th width="14%">姓名</th>
                <th width="20%">部门</th>
                <th width="14%">工号</th>
                <th width="14%">在职状态</th>
                <th width="14%">手机号码</th>
                <th width="14%">操作</th>
            </tr>
        </thead>
    </table>

    <!-- 删除弹框 -->
    <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close icon-22" data-dismiss="modal" aria-hidden="true"></button>
                    <h5 class="modal-title" id="myModalLabel">
                        确认删除此人员？
                    </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>